@page "/http-request"
@using NetworkService.Models
@using NetworkService.Data
@using NetworkService.Services
@using Radzen

<PageTitle>Http Request</PageTitle>

<div class="row align-items-center">
    <RadzenHeading Text="HTTP Request" />
</div>
<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row" style="margin: auto;">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        @*<RadzenDropDown*@
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

<h3>HttpRequest</h3>

@code {

}
