@page "/send-email"
@using NetworkService.Models
@using NetworkService.Data
@using NetworkService.Services
@using Radzen

<PageTitle>Send Email</PageTitle>

<div class="row align-items-center">
    <RadzenHeading Text="Send Email" />
</div>
<RadzenContent Container="main">
    <ChildContent>
        <RadzenTemplateForm Data=@(Email) TItem="Email" >
            <ChildContent>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row" style="margin: auto;">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="margin: auto;">
                                    <RadzenLabel Component="Recipient" Text="Recipient" />
                                    <RadzenTextBox @bind-Value=@(emails) Name="Recipient" Placeholder="Enter email addresses separated by semicolons" 
                                        AutoComplete="true"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="margin: auto;">
                                    <RadzenLabel Component="Subject" Text="Subject" />
                                    <RadzenTextBox @bind-Value=@(Email.Subject) Name="Subject" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="row" style="margin: auto;">
                                    <RadzenLabel Component="Body" Text="Body" />
                                    <RadzenHtmlEditor @bind-Value=@(Email.Body) Style="height: 20rem"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenContent>

@code {

    Email Email = new();
    EmailAddress[] EmailAddresses;
    string emails;

    protected override async Task OnInitializedAsync()
    {
        Email = new();
        EmailAddresses = await QueryService.ReadList<EmailAddress>();
    }

    async Task SendEmail()
    {
        var emailConfig = await QueryService.ReadItem<SmtpSettings>();

        Email.Recipients = emails.Split(';');

        var response = await SmtpService.SendEmail(emailConfig, Email);

        if (response)
            NotificationService.Notify(new()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Success"
            });

        if (!response)
            NotificationService.Notify(new()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Error"
            });
    }

    [Inject]
    public QueryService QueryService { get; set; }

    [Inject]
    public NotificationService NotificationService { get; set; }
}
