@page "/smtp-settings"

<PageTitle>SMTP Settings</PageTitle>

<div class="row align-items-center">
    <RadzenHeading Text="SMTP Settings" />
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <RadzenLabel Component="Email" Text="Email" />
            <RadzenTextBox @bind-Value=@(Email) Name="Email" />
        </div>
    </div>
</div>

@code {
    string Email;
}
